.container {
  margin: 0 auto;
  text-align: center;
}
.title {
  font-size: 14pt;
  font-family: "Heebo", sans-serif;
  color: #ff7d21;
}
.itemsBg {
  border-radius: 12px;
  width: fit-content;
  height: 42px;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.633);
  padding: 7px 10px;
  margin: 0;
  display: inline;
}
