.container {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  vertical-align: middle;

}
.assetContainer {
  height: 100%;
  width: 40%;
 
}
.invitation {
  height: 70%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  vertical-align: middle;

  margin-bottom: 30px;
}
.invitation p {
  font-size: 13pt;
  font-weight: 700;
  font-family: "Heebo", sans-serif;
  color: white;
  margin: 0px;
}
.invitation h1 {
  font-size: 30pt;

  font-weight: 700;
  font-family: "Heebo", sans-serif;
  color: rgba(232, 124, 10, 0.919);
}
.invitation button {
  margin: 20px 0px;
}
