/*BCard stands for Big Card*/
/*SCard stands for Small Card*/

.docCard {
  height: 177.4691px;
  border-radius: 18px;
  padding-top: 10px;
}


.title {
  border-radius: 200px;
  width: 402px;
  height: 42px;
  margin-left: 5px;
}
.title h1 {
  margin: 0 auto;
  font-family: "Heebo", sans-serif;
  font-size: 19pt;
  font-weight: 900;
  color: #058989f7;
  padding-top: 2px;
  padding-left: 10px;
}
.primaryInfos ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 9px;
}
.primaryInfos {
  height: 73px;
  width: 423px;
  margin-left: 5px;
  border-radius: 18px;
  margin-top: 10px;
  background-color: rgb(204, 204, 204, 0.26);
}

.primaryInfos ul li h3 {
  display: inline;
  font-family: "Heebo", sans-serif;
  font-size: 14pt;
  color: #005e5f;
  opacity: 0.6;
}
.secondaryInfos p {
  display: inline;
  float: left;
  margin: 0;
  margin-top: 16px;
  margin-left: 15px;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  opacity: 0.4;
}
.secondaryInfos h3 {
  display: inline;
  float: right;
  margin: 0;
  margin-top: 13px;
  margin-right: 33px;
  font-family: "Heebo", sans-serif;
  font-size: 13pt;
  color: #e47429;
  opacity: 0.8;
}
/*card Style 2*/
.docCard.style1 {
  background-color: rgba(255, 255, 255, 0.633);
}
.primaryInfos.style1 {
  background-color: rgba(255, 255, 255, 0.872);
  width: auto;
  margin-right: 5px;
}
.title.style1 {
  background-color: rgba(255, 255, 255, 0.872);
}

/*card Style 2*/
.docCard.style2 {
  background-color: white;
}
.primaryInfos.style2 {
  background-color: rgb(204, 204, 204, 0.26);
}
.title.style2 {
  background-color: rgb(204, 204, 204, 0.26);
}

/*card sizes*/
.docCard.bigSize {
  width: 100%;
}
.docCard.smallSize {
}
